html,body,div{
    height: 100%;
    width: 100%;
    margin: 0;
}
div{
    font-size: 180px;
    height: 100%;
    position:absolute;
    text-align: center;
    padding-top: 30%;
}
#c{
    background-color:lightgreen;
    animation:c 10s infinite;
    background-image: url("../images/0.jpg");
    background-size: 100% 100%;
}
#x{
    background-color:red;
    animation:x 10s infinite;
}
#q{
    background-color:yellow;
    animation:q 10s infinite;
}
#d{
    background-color:black;
    color: white;
    animation: d 10s infinite;
}
#b{
    font-size: 40px;
    display: block;
    animation: b 10s infinite;
}
@keyframes c {
    0%{opacity: 0}
    20%{opacity: 100}
    40%{opacity: 0}
    100%{opacity: 0}
}
@keyframes x {
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity: 100}
    60%{opacity: 0}
    100%{opacity: 0}
}
@keyframes q {
    0%{opacity: 0}
    40%{opacity: 0}
    60%{opacity: 100}
    80%{opacity: 0}
    100%{opacity: 0}
}
@keyframes d {
    0%{opacity: 0}
    60%{opacity: 0}
    80%{opacity: 100}
    100%{opacity: 0}
}
@keyframes b {
    0%{opacity: 0}
    70%{opacity: 0}
    80%{opacity: 100}
    90%{opacity: 0}
    100%{opacity: 0}
}